*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.to-do{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 30px;
}

.form-check{
    margin-top: 10px;
    text-align: left;
}

input[type="text"]{
    padding: 5px;
    border-radius: 5px;
    border: 1px unset black;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
 }